<ion-header>
  <ion-toolbar>
    <ion-title>More COVID-19 info</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header color="lightgreen">
      <ion-card-title>What is a Coronavirus?</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <iframe width="375" height="210" src="https://www.youtube.com/embed/D9tTi-CDjDU" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header color="lightgreen">
      <ion-card-title>Coronavirus General Information</ion-card-title>
      <ion-card-subtitle>World Health Organization</ion-card-subtitle>    
    </ion-card-header>
    <ion-card-content>
      <iframe width="375" height="210" src="https://www.youtube.com/embed/videoseries?list=PL9S6xGsoqIBU2V6AZYGlJwZRAFJ3YDreb" frameborder="0" allow="encrypted-media" allowfullscreen></iframe>
    </ion-card-content> 
  </ion-card>
  <ion-card>
    <ion-card-header color="lightgreen">
      <ion-card-title>Coronavirus Vaccines Information</ion-card-title>
      <ion-card-subtitle>World Health Organization</ion-card-subtitle>    
    </ion-card-header>
    <ion-card-content>
      <iframe width="374" height="210" src="https://www.youtube.com/embed/videoseries?list=PL9S6xGsoqIBXHSDMCp8CjOmhULeQnJ_7J" frameborder="0" allow="encrypted-media" allowfullscreen></iframe>
    </ion-card-content>
    </ion-card>

    <ion-button expand="block" [routerLink]="['/tabs/tab1']" >Back to preventive information</ion-button>

</ion-content>
