<ion-header>
  <ion-toolbar>
    <ion-title><h5>How many you got?</h5></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img src={{items2[i].gif}} />
    <ion-card-header color="lightgreen">
      {{items2[i].val}}
    </ion-card-header>
    <ion-card-content>
      <div style = "display: {{buttons}}">
        <ion-button (click)="Yes()"color= "lightgreen" size="default" expand="block" > Yes </ion-button>
        <ion-button (click)="No()"color= "danger" size="default" expand="block"> No </ion-button>
      </div>   
    </ion-card-content>
  </ion-card>

  <ion-button expand="block" [routerLink]="['../tabs/tab2']" >Go back to Menu</ion-button>
</ion-content>
