.ion-color-lightgreen {
    --ion-color-base: #52b788;
    --ion-color-base-rgb: 82, 183, 136;
    --ion-color-contrast: #000000;
    --ion-color-contrast-rgb: 0, 0, 0;
    --ion-color-shade: #52b788;
    --ion-color-tint: #52b788
  }
