<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <h6> What to do if you are sick?</h6>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">What to do if you are sick?</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card>
    <img src="https://img.freepik.com/vector-gratis/familia-protegida-virus_52683-38731.jpg?size=338&ext=jpg">
    <ion-card-header>
      <ion-card-subtitle>What To do when there is someone sick on your househodld?</ion-card-subtitle>
      <ion-card-title> First Aid and Support providing </ion-card-title>
    </ion-card-header>  
    <ion-card-content>
      <h2> Help cover basic needs : </h2>
      <ul>
        <li> Help the person who is sick follow their doctor’s instructions for care and medicine.</li>
        <li> See if over-the-counter medicines for fever help the person feel better.</li> 
        <li> Make sure the person who is sick drinks a lot of fluids and rests. </li>
        <li> Help them with grocery shopping, filling prescriptions, and getting other items they may need. Consider having the items delivered through a delivery service, if possible.</li>
        <li> Take care of their pet(s), and limit contact between the person who is sick and their pet(s) when possible. </li>
        <li> Have their doctor’s phone number on hand. </li>
        <li> Call their doctor if the person keeps getting sicker. For medical emergencies, call 911 and tell the dispatcher that the person has or might have COVID-19. </li>
      </ul>
    </ion-card-content>
  </ion-card>
  <ion-card color="lightgreen">
    <h2> When to seek medical attention </h2>
    Look for <b>emergency warning signs* for COVID-19.</b> If someone is showing any of these signs, <b>seek emergency medical care immediately: </b>
    <ul>
      <li> Trouble breathing </li>
      <li> Peristent pain or pressure on the chest </li>
      <li> New confusion </li>
      <li> Inability to wake or stay awake </li>
      <li> Bluish lips or face </li>
    </ul>
    Call 911 or call ahead to your local emergency facility: <b>Notify the operator that you are seeking care for someone who has or may have COVID-19.</b>
  </ion-card>
  <ion-card>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTJAIETC-UJhPrRTj88-EnoH22lknmD6dpeEw&usqp=CAU">
    <ion-card-header>
      <ion-card-subtitle>What To do when there is someone sick on your househodld?</ion-card-subtitle>
      <ion-card-title> Protect Yourself from your Sick Household Member </ion-card-title>
    </ion-card-header>  
    <ion-card-content>
      <h2> Limit Contact  : </h2>
      COVID-19 spreads between people who are in close contact (within about 6 feet) through respiratory droplets, created when someone talks, coughs or sneezes. Staying away from others helps stop the spread of COVID-19.

      The caregiver, when possible, should not be someone who is at higher risk for severe illness from COVID-19.

      <b>The person who is sick should isolate</b>



      <ul>
        <li> If possible, have the person who is sick use a separate bedroom and bathroom. If possible, have the person who is sick stay in their own “sick room” or area and away from others. Try to stay at least 6 feet away from the sick person.</li>
        <li> Shared space: If you have to share space, make sure the room has good air flow</li>
        <ul>
          <li> Open the window to increase air circulation. </li>
          <li> Improving ventilation helps remove respiratory droplets from the air. </li> 
        </ul> 
        <li> Avoid having visitors. Avoid having any unnecessary visitors, especially visits by people who are at higher risk for severe illness. </li>
        <li> <b> Caregivers should quarantine </b> </li>
      </ul>
      <h2> Eat in separate rooms or areas </h2>
      <ul>  
        <li> <b> Stay separated: </b> The person who is sick should eat (or be fed) in their room, if possible. </li>
        <li> <b> Wash dishes and utensils using gloves and hot water </b> Handle any dishes, cups/glasses, or silverware used by the person who is sick with gloves. Wash them with soap and hot water or in a dishwasher. </li>
        <li>Clean hands after taking off gloves or handling used items. </li>
      </ul>
     <h2> Avoid sharing personal items </h2>
     <ul>
       <li> <b>Do not share </b> Do not share dishes, cups/glasses, silverware, towels, bedding, or electronics (like a cell phone) with the person who is sick. </li>
      </ul>   
      <h2> When to wear a mask or gloves </h2>
      <ul>
        <li> Put on a mask and ask the sick person to put on a mask  before entering the room.</li>
        <li> Wear gloves when you touch or have contact with the sick person’s blood, stool, or body fluids, such as saliva, mucus, vomit, and urine. Throw out gloves into a lined trash can and wash your hands right away. </li>
        <ul>
          <li> Practice everyday preventive actions to keep from getting sick:  wash your hands often; avoid touching your eyes, nose, and mouth; and frequently clean and disinfect surfaces.</li>
        </ul>
      </ul>
      
      <iframe width="280" height="167.5" src="https://www.youtube.com/embed/IFqx9SG6TkI" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      
      <h2> Clean and then disinfect </h2> 

      <b> Around the house </b>

      <ul>
        <li> <b> Clean and disinfect “high-touch” surfaces and items every day </b> </li>
        <li> Clean the area or item with <b>soap and water</b>  if it is dirty. <b>Then, use a household disinfectant.</b> </li>
        <ul>
          <li> Be sure to <b>follow the instructions on the label </b> to ensure safe and effective use of the product. Many products recommend keeping the surface wet for several minutes to kill germs. Many also recommend wearing gloves, making sure you have good air flow, and wiping or rinsing off the product after use. </li>
          <li> Use products from <a href="https://www.epa.gov/pesticide-registration/list-n-disinfectants-coronavirus-covid-19">EPA’s List N: Disinfectants for Coronavirus (COVID-19)</a>external icon according to manufacturer’s labeled directions.</li>
          <li> <b> To clean electronics </b> follow the manufacturer’s instructions for all cleaning and disinfection products. If those directions are not available, use alcohol-based wipes or spray </li>
        </ul>
      </ul>
      <h2> Bedroom and bathroom </h2>
      <ul> 
        <li> <b> If you are using a separate bedroom and bathroom: </b> Only clean the area around the person who is sick when needed, such as when the area is soiled. This will help limit your contact with the sick person. </li>
        <ul>
          <li>  If they feel up to it, the person who is sick can clean their own space. Give the person who is sick personal cleaning and disinfection supplies such as tissues, paper towels, cleaners, and products </li> 
        </ul>
        <li><b>  If sharing a bathroom: </b> The person who is sick should clean and then disinfect after each use. If this is not possible, wear a mask and wait as long as possible after the sick person has used the bathroom before coming in to clean and use the bathroom.</li>    
      </ul>
      <h1> Wash and dry laundry </h1>
      <ul>
        <li> Do not shake dirty laundry. </li>
        <li> Wear disposable gloves while handling dirty laundry. </li>
        <li> Dirty laundry from a person who is sick can be washed with other people’s items. </li>
        <li> Wash items according to the label instructions. Use the warmest water setting you can. </li>
        <li> Remove gloves, and wash hands right away </li>
        <li> Dry laundry, on hot if possible, completely. </li>
        <li> Wash hands after putting clothes in the dryer. </li>
        <li> Clean and disinfect clothes hampers. Wash hands afterwards. </li>
      </ul>
      <h1> Used Lined Trash Can </h1>
      <ul>
        <li> Place used disposable gloves and other contaminated items in a lined trash can. </li>
        <li> Use gloves when removing garbage bags, and handling and disposing of trash. Wash hands afterwards.. </li>
        <li> Place all used disposable gloves, masks, and other contaminated items in a lined trash can. </li>
        <li> If possible, dedicate a lined trash can for the person who is sick. </li>
        <img src = 'https://www.cdc.gov/coronavirus/2019-ncov/images/prevent-getting-sick/wear-gloves-handling-trash.jpg'>
        
      </ul>

      <h1> Track your own health </h1>
      <ul> 
        <li> Caregivers should stay home and monitor their health for COVID-19 symptoms while caring for the person who is sick. </li>
        <ul>
          <li> Symptoms include fever, cough, and shortness of breath but other symptoms may be present as well. Trouble breathing is a more serious warning sign that you need medical attention. </li>
        </ul>
        <li> Caregivers should continue to stay home after care is complete. Caregivers can leave their home 14 days after their last close contact with the person who is sick (based on the time it takes to develop illness), or 14 days after the person who is sick meets the criteria to end home isolation. </li>
        <li> The best way to protect yourself and others is to stay home for 14 days if you think you’ve been exposed to someone who has COVID-19. Check your local health department’s website for information about options in your area to possibly shorten this quarantine period. </li>
        <li> <b> If you are having trouble breathing, call 911. </b> 
          <ul>
            <li> Call your doctor or emergency room and tell them your symptoms before going in. They will tell you what to do. </li>
          </ul>
      </ul>

        











        




    </ion-card-content>

    
  </ion-card>

  
</ion-content>
