@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Righteous&family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

.CardImage{
    border-radius: 50%;
    transform: scale(0.8);
}

.CardText{
    font-family: Architects Daughter;
    font-size: 15px;
}

.CardTitle{
    font-family: Raleway;
    font-size: 25px;
}

.CardBackground{
    --background: #F0F3BD;
}

.button-style{
    animation-name: buttonAnim;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    --background-color:red;
}

@keyframes buttonAnim{
    0%{ opacity: 100%; }
    25%{ opacity: 75%; }
    50%{ opacity: 50% }
    75%{ opacity: 75% }
    100%{ opacity: 100% }
}

